*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    width: 800px;
    /* height: 90px; */
    margin: auto;
    /* background-color: #E579E5; */
    margin-top: 1em;
}

#logo{
    width: 7em;
}

nav{
    text-align: left;
    margin-top: 1em;
    font-size: .8em;
}

ul{
    list-style: none;
    display: inline-block;
    margin: 0 auto;
}

li{
    display: inline-block;
    /* text-decoration: none; */

}

a{
    display: inline-block;
    text-decoration: none;
    color: #cbbcb6;
    text-transform: uppercase;
    padding-right: .7em;
}

a:hover{
    background-color: #cbbcb6;
    color: white;
}

main{
    width: 800px;
    margin: auto;
    margin-top: 1em;
}

.upper-container{
    height: 350px;
    background-color: #e1d67a;
}

.lower-container{
    height: 500px;
    background-color: #0488fb;
    margin-top: 1em;
}

.header-lower-container{
    width: 100%;
    height: 60px;
    background-color: #abcfe7;
}

.lower-container::after{
    content: '';
    display: table;
    clear: both;
}

#column-contenitor{
    margin-top: 1em;
}

.column{
    float: left;
}

.sidebar,
.central{
    background-color: #abcfe7;
    height: 410px;
    
}

.sidebar{
    width:calc(25% - 1em);
}

.central{
    /* background-color: coral; */
    width: 50%;
    margin: 0 1em;
}


footer{
    width: 800px;
    height: 50px;
    margin: auto;
    background-color: #8601fd;
    margin-top: 1em;
}