*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    width: 800px;
    /* height: 90px; */
    margin: auto;
    /* background-color: #E579E5; */
    /* margin-top: 1em; */
}

#logo{
    width: 7em;
}

nav{
    text-align: left;
    margin-top: 2em;
    font-size: .8em;
}

ul{
    list-style: none;
    display: inline-block;
    margin: 0 auto;
}

li{
    display: inline-block;
    /* text-decoration: none; */

}

a{
    display: inline-block;
    text-decoration: none;
    color: #cbbcb6;
    text-transform: uppercase;
    padding-right: .7em;
}

a:hover{
    background-color: #cbbcb6;
    color: white;
}

main{
    width: 800px;
    margin: auto;
    margin-top: 1em;
}

.upper-container{
    /* height: 350px; */
    /* background-color: #e1d67a; */
    /* background-image: url(img/banner.jpg); */
    position: relative;
    /* background-color: hsla(0, 0%, 0%, 0.5);   */
    margin-top: 1.5em;
}

h2, h3{
    font-weight: lighter;
}

.under-h2, p{
    font-size: .9em;
}


#banner{
    width: 800px;
    height: 339px;
    object-fit: cover;
    filter: brightness(85%);
    border-radius: 5px;
}

.banner-text{
    position: absolute;
    bottom: 3.5em;
    left: 2em;
    width: 27em;
    color: white;
}

.lower-container{
    /* height: 500px;
    background-color: #0488fb; */
    margin-top: 1em;
}

.header-lower-container{
    width: 100%;
    /* height: 60px; */
    /* background-color: #abcfe7; */
}

.lower-container::after{
    content: '';
    display: table;
    clear: both;
}

h1{
    font-size: 1.8em;
}

h3{
    margin-top: .5em;
    font-size: .9em;
}

.subtitle, p{
    color: #c0c0c0;
    font-size: .9em;
}

p{
    line-height: 1;
    font-size: .8em;
    margin-top: .9em;
}

.img-sidebar, .img-central{
    height: 130px;
    object-fit: cover;
    filter: brightness(85%);
    border-radius: 5px;
}

.img-sidebar{
    width: 185px;
    
}

.img-central{
    width: 400px;
    
}

#column-contenitor{
    margin-top: 1em;
}

.column{
    float: left;
}

.sidebar,
.central{
    /* background-color: #abcfe7;
    height: 410px; */
    
}

.sidebar{
    width:calc(25% - 1em);
}

.central{
    /* background-color: coral; */
    width: 50%;
    margin: 0 1em;
}


footer{
    width: 800px;
    /* height: 50px; */
    margin: auto;
    /* background-color: #8601fd; */
    margin-top: 1em;
    text-align: center;
}

#heart{
    color: red;
    font-size: 1.3em;
    vertical-align: baseline;
}